<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- changes from the defaults -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="cacheEnabled" value="false" />
    </settings>
    <typeAliases>
        <!--常用bean  -->
        <typeAlias alias="string" type="java.lang.String"/>
        <typeAlias alias="double" type="java.lang.Double"/>
        <typeAlias alias="int" type="java.lang.Integer"/>
        <typeAlias alias="byte" type="java.lang.Byte"/>
        <typeAlias alias="map" type="java.util.Map"/>
        <typeAlias alias="list" type="java.util.List"/>
    </typeAliases>

    <mappers>

    </mappers>
</configuration> 